@font-face {
    font-family: "MinhaFonte2";
    src: url('fonte/GROBOLD.ttf');
}

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    background: url("imagens/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 120px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navbar img{
    cursor: pointer;
    border-radius: 100%;
    transition: 0.2s;
}

.navbar img:hover {
    transform: rotate(-30deg);
    box-shadow: 0 0 40px red;
}

.nav-links {
    display: flex;
    gap: 190px;
    position: absolute;
    top: 50%;              
    left: 50%;          
    transform: translate(-50%, -50%);
}

.btnHome-popup{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    background: white;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.3em;
    color: black;
    transition: 0.2s;
}

.btnHome-popup:hover{
    background: gray;
    color: white;
    box-shadow: 0 0 20px white;
}

.btnPokedex-popup{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    background: white;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.3em;
    color: black;
    transition: .2s;
}

.btnPokedex-popup:hover{
    background: gray;
    color: white;
    box-shadow: 0 0 20px white;
}

.titleP{
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.wrapper-page{
    position: relative;
    width: 1400px;
    height: 1060px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px black;
    border-radius: 20px;
    backdrop-filter: blur(26px) brightness(82%);

    align-self: center;
    margin-top: 30px;
    margin: 0 auto;
}

.form-wrapper{
    padding-bottom: 40px;
}

.pokemon-card{
    display: flex;
    align-items: center;
}

.pokemon-img img {
    border: 5px ;
    border-radius: 30%;
    display: inline-block;
    text-align: center;
    padding: 60px;
    width: 500px;
    margin: 10px auto;
    margin-left: 60px;
    margin-top: 50px;
    color: #222;
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    background-color: rgba(255, 255, 255, 0.356);
}

.pokemon-img img:hover {
    transform: scale(0.9);
    box-shadow: 0 0 30px white;
}

.pokemon-info {
    margin-bottom: 15px;
    margin-left: 180px;
}

.pokemon-info h2 {
    font-size: 40px;
}

.pokemon-info b{
    font-size: 32px;
}

.pokemon-info p {
    margin: 18px 0;
    font-size: 1.7em;
}


.type {
  display: inline-block;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}

.type.fire { background-color: #e75c50; }
.type.water { background-color: #7eaff9; }
.type.grass { background-color: #52ab83; }
.type.poison { background-color: #bf8fc6; }
.type.electric { background-color: #ffeb6a; color: #000; }
.type.flying { background-color: #B0E0E6; }
.type.psychic { background-color: #ed63a2; }
.type.ice { background-color: #2fdbea; }
.type.rock { background-color: #F4A460; }
.type.ground { background-color: #DEB887; }
.type.fighting { background-color: #A52A2A; }
.type.bug { background-color: #9ACD32; }
.type.ghost { background-color: #6954a4; }
.type.dragon { background-color: #4122d7; }
.type.dark { background-color: #5c4235; }
.type.steel { background-color: #8a97b2; }
.type.fairy { background-color: #ffa3ff; }
.type.normal { background-color: #DCDCDC; }

.text{
    margin-left: 20px;
    font-size: 2em;
}

.Container-evolveStats {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.evolutions-wrapper h3{
    margin-left: 20px;
}

.evolution{
    display: inline-block;
    margin-left: 50px;
    border: 5px solid black;
    border-radius: 50px;
    border-color: transparent;
    transition: transform 0.3s ease-out, box-shadow 0.2s ease-out;
}

.evolution:hover{
    transform: scale(0.9);
    box-shadow: 0 2px 10px white;
}

.evolution img{
    width: 130px;
}

.evolution p{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px 20px; 
  width: 100%;
  box-sizing: border-box;
  margin-right: 180px;
}

.stat {
    margin-bottom: 20px;
}

.stat-name{
    font-weight: bold;
}

.stat-bar{
    background-color: #e2e3d9;
    width: 200px;
    height: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.stat-fill{
    width: 100%;
    height: 10px;
    background-color: #FFD700;
}

.footer {
    position: relative;
    width: 1350px;
    color: white;
    margin: 0 auto;
    margin-top: 60px;
}

.footer_link{
    text-decoration: none;
}

#footer_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    padding: 3rem 3.5rem;
    border-radius: 20px;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
}

#footer_social_media .footer_link:hover{
    opacity: 0.8;
}

#Linkedin{
    background-color: #0077B5;
}

#Github{
    background-color: #4F4F4F;
}

.footer_coypright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info{
    text-align: center;
    margin-left: 200px;
    margin-bottom: 3.0rem;
    margin-top: 30px;
}

.developer{
    display: flex; 
    gap: 50px; 
    margin-left: 180px;
    align-items: center;
}

.developer p{
    white-space: nowrap;
    margin: 0 auto;
}

.Pokemon-footer {
    position: absolute;
    bottom: 0; 
    right: 30px;
}

.Pokemon-footer img {
    margin-right: 20px;
    margin-bottom: 30px; 
    width: 160px; 
    height: auto; 
}