@font-face {
    font-family: "MinhaFonte1";
    src: url('fonte/GROBOLD.ttf');
}

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url("imagens/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    margin-bottom: 70px;
    position: relative;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navbar img{
    cursor: pointer;
    border-radius: 100%;
    transition: 0.2s;
}

.navbar img:hover{
    transform: rotate(-30deg);
    box-shadow: 0 0 40px red;
}

.nav-links {
    display: flex;
    gap: 300px;
    position: absolute;
    top: 50%;              
    left: 50%;          
    transform: translate(-50%, -50%);
}

.btnHome-popup{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    background: white;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.3em;
    color: black;
    transition: .2s;
}

.btnHome-popup:hover{
    background: gray;
    color: white;
    box-shadow: 0 0 20px white;
}

.btnPokedex-popup{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    background: white;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.3em;
    color: black;
    transition: .2s;
}

.btnPokedex-popup:hover{
    background: gray;
    color: white;
    box-shadow: 0 0 20px white;
}

.title {
    display: flex; 
    height: 100px;
    margin: 0 auto 50px auto;
}

.title h1 {
    font-family: 'MinhaFonte1', sans-serif;
    color: #FFD700;
    font-weight: 100;
    font-size: 60px;
    margin-right: 60px;

    text-shadow:
    -5px -5px 0 #4169E1,
     5px -5px 0 #4169E1,
    -5px  5px 0 #4169E1,
     5px  5px 0 #4169E1;
}

.wrapper-container{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box {
    gap: 10px;
    display: flex;
    margin-bottom: 20px;
    margin-left: 60px;
}

.search-box input{
    width: 380px;
    height: 30px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    padding: 8px;
}

.search-box input::placeholder{
    text-align: center;
    justify-content: center;
    color: gray;
    font-size: 15px;
}

#suggestion {
  background-color: white;
  position: absolute;
  width: 380px;
  max-height: 300px;
  margin-top: 40px;
  z-index: 20;
  border-radius: 10px;
}

#suggestion li{
    padding: 8px;
    cursor: pointer;
    list-style-type: none;
}

#suggestion li:hover{
    background-color: #a8a7a7;
    border-radius: 10px;
    text-decoration: underline;
}

.search-box button {
    padding: 7px 30px;
    border-radius: 6px;
    border: none;
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
}

.search-box button:hover{
    background-color: #4169E1;
}

.wrapper{
    width: 1800px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(4px) brightness(93%);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    margin-bottom: 60px;

    align-self: center;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.pokeContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1700px;
    margin-top: 50px;
}

.pokemon{
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.pokemon:hover{
    transform: scale(0.9);
}

.pkdContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.pkdContainer .img{
    max-width: 90%;
}

.info{
    margin-top: 20px;
}

.number{
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.name{
    margin: 15px 0 7px;
    letter-spacing: 1.5px;
}

.type{
    font-size: 0.8rem;
}

.footer {
    position: relative;
    width: 1300px;
    color: white;
    margin: 0 auto;
}

.footer_link{
    text-decoration: none;
}

#footer_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    padding: 3rem 3.5rem;
    border-radius: 20px;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
}

#footer_social_media .footer_link:hover{
    opacity: 0.8;
}

#Linkedin{
    background-color: #0077B5;
}

#Github{
    background-color: #4F4F4F;
}

.footer_coypright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cons{
    text-align: center;
    margin-left: 200px;
    margin-bottom: 3.0rem;
    margin-top: 30px;
}

.developer{
    display: flex; 
    gap: 50px; 
    margin-left: 180px;
    align-items: center;
}

.developer p{
    white-space: nowrap;
    margin: 0 auto;
}

.Pokemon-footer {
    position: absolute;
    bottom: 0; 
    right: 30px;
}

.Pokemon-footer img {
    margin-right: 20px;
    margin-bottom: 30px; 
    width: 160px; 
    height: auto; 
}